name: Docker Reusable Workflow
run-name: GitHub Action Docker Reusable Workflow
on:
  workflow_dispatch:
  workflow_call:

jobs:
  Docker-Workflow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
